<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:thy="http://www.thymeleaf.org"
      lang="en">
<head th:replace="head::htmlhead">
</head>
<body>
<header th:replace="header::header"></header>
<main style="background-color: white">
<div class="container-fluid">
    <div class="table-responsive-xl" style="background-color: ivory">
        <div class="col-lg-3">
            <button class="btn btn-success" th:onclick="'window.location.href=\''+${event.id}+'/whenwhere/new\''">Add</button>
            <div th:each="occurrence : ${event.getEventTimeVenues()}">
                <dl style="background-color: black">
                    <dt>Start date</dt>
                    <dd th:text="${occurrence.startDate}"></dd>
                    <th:block th:if="${occurrence.startTime != null}">
                        <dt>Start time</dt>
                        <dd th:text="${occurrence.startTime}"></dd>
                    </th:block>
                    <th:block th:if="${occurrence.endDate != null}">
                        <dt>Start time</dt>
                        <dd th:text="${occurrence.endDate}"></dd>
                    </th:block>
                    <th:block th:if="${occurrence.endTime != null}">
                        <dt>End time</dt>
                        <dd th:text="${occurrence.endTime}"></dd>
                    </th:block>
                </dl>
                <div style="background-color: ivory" th:with="address=${occurrence.getVenue().getAddress()}">
                    <p th:each="where : ${occurrence.getVenue().getAbouts()}" th:text="${where.name} + ' (' + ${where.language} + ')'"></p>
                    <p th:text="${address.streetName} + ' ' + ${address.houseNumber} + ', ' +
                    ${address.postalCode} + ' ' + ${address.getCityOrVillage().shortName} + ', ' + ${address.getCountry().shortName}"></p>
                </div>
                <div class="btn-group-xs" role="button" aria-label="occurrences">
                    <button class="btn btn-success" th:onclick="'window.location.href=\''+${event.id}+'/whenwhere/new\''">Add</button>
                    <button class="btn btn-warning" th:onclick="'window.location.href=\''+${event.id}+'/whenwhere/'+${occurrence.id}+'/edit\''">Edit</button>
                    <button type="submit" th:form="'whenwhere-'+${occurrence.id}" name="delete" value="Delete" class="btn btn-danger" onclick="location.reload()">Delete</button>
                </div>
                <form th:id="'whenwhere-'+${occurrence.id}" action="#" th:action="'/eventmanager/data/api/eventTimeVenues/'+ ${occurrence.id}" th:method="delete">
                </form>

                <hr>
            </div>
        </div>
        <div class="col-lg-6">
            <th:block th:each="about : ${event.getAbouts()}">
                <div>
                    <h3 th:text="${about.language.text.toString()} + ': ' + ${about.name}"></h3>
                    <div class="btn-group-xs" role="button" aria-label="abouts">
                        <button th:if="${aboutStat.size < 3}" class="btn btn-success" onclick="window.location.href='/aboutevent/add'">Add</button>
                        <a th:href="${'/eventmanager/adminevent/'+ event.id +'/about/'+ about.language.value.toString() +'/edit'}">
                        <button class="btn btn-warning">Edit</button>
                        </a>
                        <th:button th:if="${aboutStat.size > 1}" type="submit" th:form="'aboutevent-'+${about.id}" name="delete" value="Delete" class="btn btn-danger" onclick="location.reload()">Delete</th:button>
                    </div>
                    <th:form th:if="${aboutStat.size > 1}" th:id="'aboutevent-'+${about.id}" action="#" th:action="'/eventmanager/data/api/abouts/'+ ${about.id}" th:method="delete">
                    </th:form>
                    <div class="card" th:text="${about.description}"></div>
                </div>

            </th:block>
        </div>
        <div class="col-lg-3">
            <div th:if="${event.getEventRegistrations() != null}">
                <h3>REGISTRATIONS</h3>
                <ul>
                <th:block th:each="reg : ${event.getEventRegistrations()}">
                    <li th:text="${reg.getRegisteringUser().login} + ': ' + ${reg.approved ? 'approved' : 'pending'}"></li>
                </th:block>
                </ul>
            </div>
            <div>
                <h3>COMMENTS</h3>
                Feature not available yet
            </div>
            <h3>ORGANIZER</h3>
            <div th:if="${event.getEventOrganizerAndContact() != null}">
                <th:block th:if="${event.getEventOrganizerAndContact().getOrganisation() != null}">
                    <p th:text="${event.getEventOrganizerAndContact().getOrganisation().knownName}"></p>
                    <p th:text="${event.getEventOrganizerAndContact().getOrganisation().getPrimaryContact().getEmail().email}"></p>
                    <p th:each="phone : ${event.getEventOrganizerAndContact().getOrganisation().getPrimaryContact().getPrimaryPhones()}"
                       th:text="${phone.phoneNumber}"></p>
                </th:block>
                <th:block th:each="staffMember : ${event.getEventOrganizerAndContact().getEventOrganizerStaffs()}">
                    <dl>
                        <dt th:text="${staffMember.role.getValue()}"></dt>
                        <dd th:text="${staffMember.getPerson().firstName} + ' '
                        + ${staffMember.getPerson().middleName != null ? staffMember.getPerson().middleName + ' ' : ''}
                        + ${staffMember.getPerson().lastName}"></dd>
                        <dt>Contact</dt><dd th:text="${staffMember.email} + ' | ' + ${staffMember.phone}"></dd>
                    </dl>
                </th:block>
                <hr>
                <th:block th:with="createdBy=${event.getEventOrganizerAndContact().getCreatedBy()},byPerson=${event.getEventOrganizerAndContact().getCreatedBy().getUserPerson().getPerson()}">

                    <p th:text="'Created by ' + ${createdBy.login}"></p>
                    <p th:text="'('+${byPerson.firstName} + ${byPerson.middleName != null ? ' ' + byPerson.middleName : ''} + ' ' +  ${byPerson.lastName}+')'"></p>
                </th:block>
            </div>
        </div>
    </div>
</div>
</main>
<footer th:replace="footer::footer"></footer>
</body>
</html>
