<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="et">
<head th:replace="head::htmlhead">
    <meta charset="UTF-8">
    <title>Time and place</title>
</head>
<body>
<div class="container" style="background-color: cornsilk">
<ul>
<li th:each="about:${whenwhere.getEvent().getAbouts()}" th:text="${about.name}">
</ul>

<form method="post" id="timevenue">
    <input type="hidden" name="id" th:value="${whenwhere.id}">

  <input type="hidden" name="event[id]" th:value="${event.id}">
    <input type="radio" id="startOnly" class="btn btn-success" name="endTimeDetermined" th:text="default" checked value=false>
    <input type="radio" id="oneDayStartEnd" class="btn btn-success" th:text="endtime" name="endTimeDetermined" value=true>
    <input type="radio" id="oneFullDay" class="btn btn-success" th:text="fullday" name="endTimeDetermined" value=false>
    <input type="radio" id="manyFullDays" class="btn btn-success" th:text="fulldays"  name="endTimeDetermined" value=true>
    <input type="radio" id="firstDayStartLastDayEnd" class="btn btn-success" th:text="all"  name="endTimeDetermined" value=true><br>
  <label value="Start date">Start date <input type="date" name="startDate" th:value="${whenwhere.startDate}"></label><br>
  <label value="Start time">Start time <input type="time" name="startTime" th:value="${whenwhere.startTime}" id="startTime"></label><br>
  <label value="End date">End date <input type="date" name="endDate" id="endDate" th:value="${whenwhere.endDate}" disabled/></label><br>
    <label value="End time">End time <input type="time" name="endTime" id="endTime" th:value="${whenwhere.endTime}" disabled/></label><br>
  <select name="venue[id]" th:valuetype="venuelist">
    <th:block th:each="venuedata:${venuelist}">
          <option th:if="${venuedata.getAbouts() != null}"
                  th:each="about : ${venuedata.getAbouts()}"
                  th:value="${venuedata.id}" th:label="${about.name}"></option>
    </th:block>
  </select><br>
  <input type="submit" class="btn btn-success" value="Save" /><br>


</form>
    <div id="results_display"></div>
</div>

<script>
    $(document).ready(function() {

        $("#startOnly").click(function(){
            $("#endDate").prop("disabled", true);
            $("#endTime").prop("disabled", true);
        });
        $("#oneDayStartEnd").click(function(){
            $("#startTime").prop("disabled", false);
            $("#endDate").prop("disabled", true);
            $("#endTime").prop("disabled", false);
        });
        $("#oneFullDay").click(function(){
            $("#startTime").prop("disabled", true);
            $("#endDate").prop("disabled", true);
            $("#endTime").prop("disabled", true);
        });

        $("#manyFullDays").click(function(){
            $("#startTime").prop("disabled", true);
            $("#endDate").prop("disabled", false);
            $("#endTime").prop("disabled", true);
        });
        $("#firstDayStartLastDayEnd").click(function(){
            $("#startTime").prop("disabled", false);
            $("#endDate").prop("disabled", false);
            $("#endTime").prop("disabled", false);
        });

    });
</script>

<!--
<script type="86dc64a4e19322c20a32dff2-text/javascript">
-->
<script>
                    /**
                     * Retrieves input data from a form and returns it as a JSON object.
                     */

                        $("#timevenue").submit(function(event){
                            event.preventDefault();
                            var data = $('#timevenue').serializeJSON({parseNumbers:true,parseNulls:true,useIntKeysAsArrayIndex:true});

                            if (data.startTime == null) delete data.startTime;
                            if (data.endDate == null) delete data.endDate;
                            if (data.endTime == null) delete data.endTime;

                            var jsonData = JSON.stringify(data);

                            var eid = data.event.id;
                            document.getElementById('results_display').innerHTML = "Submitted form data: " + jsonData;
                           $.ajax({
                                url: '/eventmanager/data/api/eventTimeVenues/'+ data.id +'/update',
                                type: 'PUT',
                                data: jsonData,
                                success: function(result) {
                                    $(location).attr('href', '/eventmanager/adminevent/' + eid);
                                }
                            });
                            if (status !== "success") {
                                document.getElementById('results_display').innerHTML = status + ' submitted: ' + jsonData;
                            }

                        });


                </script>
<footer th:replace="footer::footer"></footer>

</body>
</html>
