<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="et">
<head th:replace="head::htmlhead">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div class="container" style="background-color: cornsilk">
    <form method="post" id="about">
        <input type="hidden" name="id" th:value="${about.id}">
        <th:block th:if="${about.isAbout.EVENT}">
            <input type="hidden" name="event[id]" th:value="${about.event?.id}">
        </th:block>
        <th:block th:if="${about.isAbout.VENUE}">
            <input type="hidden" name="venue[id]" th:value="${about.venue?.id}">
        </th:block>
        <input type="hidden" name="language" th:value="${about.language.getValue()}">
        <div th:text="${'You are editing a text about: '}+${about.isAbout.name()}
    +${' and it should be in language: '}+${about.language.getText()}"></div>
        <div class="container">
        <div class="block">
            <label>Event name:  </label><input class="form-control-lg col-xl-6" type="text" name="name" th:value="${about.name}">
        </div>
        <div class="block">
            <textarea class="form-control-plaintext col-xl-7" name="description" th:text="${about.description}"></textarea>
        </div>

        <input type="submit" class="btn btn-success" value="Save"/><br>
        </div>

    </form>
    <div id="results_display"></div>
</div>


<!--
<script type="86dc64a4e19322c20a32dff2-text/javascript">
-->
<script>
    /**
     * Retrieves input data from a form and returns it as a JSON object.
     */

    $("#about").submit(function (event) {
        event.preventDefault();
        var data = $('#about').serializeJSON({parseNumbers: true, parseNulls: true, useIntKeysAsArrayIndex: true});

        var jsonData = JSON.stringify(data);

        var eid = data.event.id;
        document.getElementById('results_display').innerHTML = "Submitted form data: " + jsonData;
        $.ajax({
            url: '/eventmanager/data/api/abouts/' + data.id,
            type: 'PATCH',
            data: jsonData,
            success: function (result) {
                $(location).attr('href', '/eventmanager/adminevent/' + eid);
            }
        });
        if (status !== "success") {
            document.getElementById('results_display').innerHTML = status + ' submitted: ' + jsonData;
        }

    });


</script>
<footer th:replace="footer::footer"></footer>

</body>
</html>
