<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="head::htmlhead">
</head>
<body>
<header th:replace="header::header"></header>
<main style="background-color: white">
    <div class="container">
        <div class="table-responsive-xl" style="background-color: ivory">
            <div class="col-lg-6">
                <th:block th:with="about= ${publicevent.getAbouts().get(0)}">
                    <div>
                        <h3 th:text="${about.language.text.toString()} + ': ' + ${about.name}"></h3>
                        <div th:each="occurrence : ${publicevent.getEventTimeVenues()}">
                            <dl style="background-color: black">
                                <dt>Start date</dt>
                                <dd th:text="${occurrence.startDate}"></dd>
                                <th:block th:if="${occurrence.startTime != null}">
                                    <dt>Start time</dt>
                                    <dd th:text="${occurrence.startTime}"></dd>
                                </th:block>
                                <th:block th:if="${occurrence.endDate != null}">
                                    <dt>Start time</dt>
                                    <dd th:text="${occurrence.endDate}"></dd>
                                </th:block>
                                <th:block th:if="${occurrence.endTime != null}">
                                    <dt>End time</dt>
                                    <dd th:text="${occurrence.endTime}"></dd>
                                </th:block>
                            </dl>
                            <div style="background-color: ivory" th:with="address=${occurrence.getVenue().getAddress()}">
                                <p th:each="where : ${occurrence.getVenue().getAbouts()}" th:text="${where.name} + ' (' + ${where.language} + ')'"></p>
                                <p th:text="${address.streetName} + ' ' + ${address.houseNumber} + ', ' +
                    ${address.postalCode} + ' ' + ${address.getCityOrVillage().shortName} + ', ' + ${address.getCountry().shortName}"></p>
                            </div>
                            <hr>
                        </div>
                        <div class="card" th:text="${about.description}"></div>
                    </div>

                </th:block>

            </div>
            <div class="col-lg-3">
                <div>
                    <h3>COMMENTS</h3>
                    Feature not available yet
                </div>
                <h3>ORGANIZER</h3>
                <div th:if="${publicevent.getEventOrganizerAndContact() != null}">
                    <th:block th:if="${publicevent.getEventOrganizerAndContact().getOrganisation() != null}">
                        <p th:text="${publicevent.getEventOrganizerAndContact().getOrganisation().knownName}"></p>
                        <p th:text="${publicevent.getEventOrganizerAndContact().getOrganisation().getPrimaryContact().getEmail().email}"></p>
                        <p th:each="phone : ${publicevent.getEventOrganizerAndContact().getOrganisation().getPrimaryContact().getPrimaryPhones()}"
                           th:text="${phone.phoneNumber}"></p>
                    </th:block>
                    <th:block th:each="staffMember : ${publicevent.getEventOrganizerAndContact().getEventOrganizerStaffs()}">
                        <dl>
                            <dt th:text="${staffMember.role.getValue()}"></dt>
                            <dd th:text="${staffMember.getPerson().firstName} + ' '
                        + ${staffMember.getPerson().middleName != null ? staffMember.getPerson().middleName + ' ' : ''}
                        + ${staffMember.getPerson().lastName}"></dd>
                            <dt>Contact</dt><dd th:text="${staffMember.email} + ' | ' + ${staffMember.phone}"></dd>
                        </dl>
                    </th:block>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
