<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:thy="http://www.thymeleaf.org"
      lang="en">
<head th:replace="head::htmlhead">
</head>
<body>
<header th:replace="header::header"></header>
<main style="background-color: white">
<div class="container-fluid">
    <div class="table-responsive-xl" style="background-color: ivory">
        <div class="col-lg-3">
            <button class="btn btn-success" th:onclick="'window.location.href=\''+${event.id}+'/whenwhere/new\''">Add</button>
            <div th:each="occurrence : ${event.getEventTimeVenues()}">
                <input type="hidden" name="event[id]" th:value="${whenwhere.getEvent().id}">
                <input type="radio" id="startOnly" class="btn btn-success" name="endTimeDetermined" th:text="default" checked value=false>
                <input type="radio" id="oneDayStartEnd" class="btn btn-success" th:text="endtime" name="endTimeDetermined" value=true>
                <input type="radio" id="oneFullDay" class="btn btn-success" th:text="fullday" name="endTimeDetermined" value=false>
                <input type="radio" id="manyFullDays" class="btn btn-success" th:text="fulldays"  name="endTimeDetermined" value=true>
                <input type="radio" id="firstDayStartLastDayEnd" class="btn btn-success" th:text="all"  name="endTimeDetermined" value=true><br>
                <label value="Start date">Start date <input type="date" name="startDate" ></label><br>
                <label value="Start time">Start time <input type="time" name="startTime" id="startTime"></label><br>
                <label value="End date">End date <input type="date" name="endDate" id="endDate" disabled/></label><br>
                <label value="End time">End time <input type="time" name="endTime" id="endTime" disabled/></label><br>
                <select name="venue[id]" th:valuetype="venuelist">
                    <th:block th:each="venuedata:${venuelist}">
                        <option th:if="${venuedata.getAbouts() != null}"
                                th:each="about : ${venuedata.getAbouts()}"
                                th:value="${venuedata.id}" th:label="${about.name}"></option>
                    </th:block>
                </select><br>
                <hr>
            </div>
        </div>
        <div class="col-lg-6">
           <button class="btn btn-success" onclick="window.location.href='/eventmanager/aboutevent/add'">Add event name and description</button>
            <th:block th:each="about : ${event.getAbouts()}">
                <div>
                    <h3 th:text="${about.language.text.toString()} + ': ' + ${about.name}"></h3>
                    <div class="btn-group-xs" role="button" aria-label="abouts">
                        <button th:if="${aboutStat.size < 3}" class="btn btn-success" onclick="window.location.href='/aboutevent/add'">Add</button>
                        <button class="btn btn-warning">Edit</button>
                        <th:button th:if="${aboutStat.size > 1}" type="submit" th:form="'aboutevent-'+${about.id}" name="delete" value="Delete" class="btn btn-danger" onclick="location.reload()">Delete</th:button>
                    </div>
                    <th:form th:if="${aboutStat.size > 1}" th:id="'aboutevent-'+${about.id}" action="#" th:action="'/eventmanager/data/api/abouts/'+ ${about.id}" th:method="delete">
                    </th:form>
                    <div class="card" th:text="${about.description}"></div>
                </div>

            </th:block>
        </div>
        <div class="col-lg-3">
            <div th:if="${event.getEventRegistrations() != null}">
                <h3>REGISTRATIONS</h3>
                <ul>
                <th:block th:each="reg : ${event.getEventRegistrations()}">
                    <li th:text="${reg.getRegisteringUser().login} + ': ' + ${reg.approved ? 'approved' : 'pending'}"></li>
                </th:block>
                </ul>
            </div>
            <div>
                <h3>COMMENTS</h3>
                Feature not available yet
            </div>
            <h3>ORGANIZER</h3>
            <div th:if="${event.getEventOrganizerAndContact() != null}">
                <th:block th:if="${event.getEventOrganizerAndContact().getOrganisation() != null}">
                    <p th:text="${event.getEventOrganizerAndContact().getOrganisation().knownName}"></p>
                    <p th:text="${event.getEventOrganizerAndContact().getOrganisation().getPrimaryContact().getEmail().email}"></p>
                    <p th:each="phone : ${event.getEventOrganizerAndContact().getOrganisation().getPrimaryContact().getPrimaryPhones()}"
                       th:text="${phone.phoneNumber}"></p>
                </th:block>
                <th:block th:each="staffMember : ${event.getEventOrganizerAndContact().getEventOrganizerStaffs()}">
                    <dl>
                        <dt th:text="${staffMember.role.getValue()}"></dt>
                        <dd th:text="${staffMember.getPerson().firstName} + ' '
                        + ${staffMember.getPerson().middleName != null ? staffMember.getPerson().middleName + ' ' : ''}
                        + ${staffMember.getPerson().lastName}"></dd>
                        <dt>Contact</dt><dd th:text="${staffMember.email} + ' | ' + ${staffMember.phone}"></dd>
                    </dl>
                </th:block>
                <hr>
                <th:block th:with="createdBy=${event.getEventOrganizerAndContact().getCreatedBy()},byPerson=${event.getEventOrganizerAndContact().getCreatedBy().getUserPerson().getPerson()}">

                    <p th:text="'Created by ' + ${createdBy.login}"></p>
                    <p th:text="'('+${byPerson.firstName} + ${byPerson.middleName != null ? ' ' + byPerson.middleName : ''} + ' ' +  ${byPerson.lastName}+')'"></p>
                </th:block>
            </div>
        </div>
    </div>
</div>
</main>
<footer th:replace="footer::footer"></footer>
</body>
</html>
