<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:thy="http://www.thymeleaf.org"
      lang="en">
<head th:replace="head::htmlhead">
</head>
<body>
<header th:replace="header::header"></header>
<main style="background-color: white">
<div class="container">
    <div class="table-responsive-lg" style="background-color: ivory">
        <div class="col-lg-6">
            <h2 th:text="${occurrence.getEvent().getAbouts().get(0).name}"></h2>
                <dl style="background-color: black">
                    <dt>When</dt>
                    <dd>
                    <th:block th:text="${occurrence.startDate}
                    + ${occurrence.startTime != null ? ' ' + occurrence.startTime : ''}
                    + ${occurrence.endTimeDetermined ? ' -' : ''}"></th:block>
                    <th:block th:if="${occurrence.endDate != null}">
                    <span th:text="${' ' + occurrence.endDate}"></span>
                    </th:block>
                    <span th:text="${occurrence.endTime != null ? ' ' + occurrence.endTime : ''}"></span>
                    </dd>
                    <dt>Where</dt>
                    <dd>
                        <h3 th:text="${occurrence.getVenue().getAbouts().get(0).name}"></h3>
                        <p
                                th:with="address=${occurrence.getVenue().getAddress()}"
                                th:text="${address.streetName} + ' ' + ${address.houseNumber} + ', '
                                + ${address.getCityOrVillage().longName} + ', ' + ${address.getCountry().shortName}"
                        ></p>
                    </dd>
                </dl>
                <div style="background-color: ivory" th:with="address=${occurrence.getVenue().getAddress()}">
                    <p th:each="where : ${occurrence.getVenue().getAbouts()}" th:text="${where.name} + ' (' + ${where.language} + ')'"></p>
                    <p th:text="${address.streetName} + ' ' + ${address.houseNumber} + ', ' +
                    ${address.postalCode} + ' ' + ${address.getCityOrVillage().shortName} + ', ' + ${address.getCountry().shortName}"></p>
                </div>
                <th:block th:if="${occurrence.getNotes() != null}">
                    <th:block th:each="note : ${occurrence.getNotes()}">
                    <div class="gray" th:text="${note.getContent()}"></div>
                    </th:block>
                </th:block>

                <th:block th:with="about=${occurrence.getEvent().getAbouts().get(0)}">
                <div>
                    <div class="card" th:text="${about.description}"></div>
                </div>

                </th:block>
            <div>
                <h3>COMMENTS</h3>
                Feature not available yet
            </div>
        </div>
        <div class="col-lg-3">
            <th:block th:if="${occurrence.getVenue().getAbouts() != null}"
                      th:with="aboutvenue=${occurrence.getVenue().getAbouts().get(0)}">
                <h4 th:text="${aboutvenue.name}"></h4>
                <div th:text="${aboutvenue.description}"></div>
            </th:block>
            <th:block th:if="${occurrence.getEvent().getEventOrganizerAndContact()}"
                    th:with="org=${occurrence.getEvent().getEventOrganizerAndContact()}" >
            <h3>ORGANIZER</h3>
            <th:div>
                <th:p th:text="${org.organisation?.knownName}"></th:p>
                <th:block th:each="staffMember : ${org.getEventOrganizerStaffs()}">
                    <dl>
                        <dt th:text="${staffMember.role.getValue()}"></dt>
                        <dd th:text="${staffMember.getPerson().firstName} + ' '
                        + ${staffMember.getPerson().middleName != null ? staffMember.getPerson().middleName + ' ' : ''}
                        + ${staffMember.getPerson().lastName}"></dd>
                        <dt>Contact</dt><dd th:text="${staffMember.email} + ' | ' + ${staffMember.phone}"></dd>
                    </dl>
                </th:block>
                <hr>
            </th:div>
            </th:block>
        </div>
    </div>
</div>
</main>
</body>
</html>
